doctype html
html
	head
		title= title
		link(href='css/main.css', rel='stylesheet')
	body
		form(name='signup', method='POST', action='/signup')
			div
				label(for='username') ชื่อการใช้งานระบบ
				input(namw='username', type='text', placeholder='username')
			div
				label(for='firstname') ชื่อ
				input(namw='firstname', type='text', placeholder='firstname')
			div
				label(for='lastname') นามสกุล
				input(namw='lastname', type='text', placeholder='lastname')
			div
				label(for='email') email
				input(namw='email', type='email', placeholder='xyz@email.com')
			div
				label(for='password') password
				input(namw='password', type='password', placeholder='password')
			div
				input(type='submit', value='Sign UP')