doctype html
html
	head
		title= title
		link(href='css/main.css', rel='stylesheet')
	body
		each msg in message
			div.flash
				=msg
		form(name='signup', method='POST', action='/signup')
			div
				label(for='username') ชื่อการใช้งานระบบ
				input(name='username', type='text', placeholder='username')
			div
				label(for='fristname') ชื่อ
				input(name='fristname', type='text', placeholder='fristname')
			div
				label(for='lastname') นามสกุล
				input(name='lastname', type='text', placeholder='lastname')
			div
				label(for='email') email
				input(name='email', type='email', placeholder='xyz@email.com')
			div
				label(for='password') password
				input(name='password', type='password', placeholder='password')
			div
				input(type='submit', value='Sign UP')